{% extends "encyclopedia/layout.html" %} {% block title %} Edit encyclopedia
entry {%endblock %} {% block body %}
<h1>Edit entry</h1>

<form action="{% url 'editPage' name %}" method="post">
  {% csrf_token %} {{ form }}
  <input type="hidden" name="title" value="{{name}}" />
  <textarea
    name="content"
    id="content"
    cols="30"
    rows="10"
    placeholder="Title..."
  >
{{entry}}</textarea
  >

  <input type="submit" name="new-submit-btn" id="new-submit-btn" />
</form>
{% endblock %}
