{% extends "encyclopedia/layout.html" %} {% block title %} Add new encyclopedia
entry {%endblock %} {% block body %}
<h1>New entry</h1>

{{message}}

<form action="{% url 'newPage' %}" method="post">
  {% csrf_token %} {{ form }} {% comment %}
  <input type="text" name="title" id="title" placeholder="Title..." />
  <br />
  <textarea
    name="content"
    id="content"
    cols="10"
    rows="10"
    placeholder="Markdown content..."
  ></textarea>
  {% endcomment %}

  <input type="submit" name="new-submit-btn" id="new-submit-btn" />
</form>

{% endblock %}
